/* Page */
html{
	font-family: 'Montserrat', sans-serif;
}
body{
    margin-top: 60px;
    background: linear-gradient(45deg, #f53740, #3091e0);
}

/* Menu */
.navigation {
    display: flex;
    padding:0;
    justify-content: center;
}
.navigation .menuBtn {
    display:block; 
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all 2s ;
    cursor: pointer;
}
.menu-text{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.navigation .menuBtn:hover{
    background-color: #e73260;
    border-color: #0004fd;
}

/* Header */
h1, h2{
    text-align: center;
    margin: 3px;
}
#photoIdentite{
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Article Accueil */
.intro h3{
    text-align: center;
}
.intro{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.xp {
    margin: 0;
    padding: .3rem;
}
.xp > h3, .explication {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}
.xp h3{
    color: #fff;
    text-align: center;
}
.explication {
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color:#f2f2f281;
}
.explication > h4, .explication > p {
    margin: 15px 0 5px;
    font-size: 1rem;
}

/* Formulaire de contact*/
input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
input[type=submit] {
    background-color: #286cb9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #1872D9;
}
.formulaire {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius: 20px;
    background-color:#f2f2f281;
    padding: 20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
}
.formulaire h3  {
    color: #db3063fb;
    width: 100%;
    text-align: center;
}

/* Media */
.boxMedia {
    box-sizing : border-box;
    border-radius: 20px;
    background-color:#f2f2f281;
    padding: 20px;
    width: 100%;
    max-width: 80%;
    margin:0 auto;
    margin-bottom: 50px;
}

/* Footer */
footer{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}
.fleche{
    font-size: xx-large;
    text-decoration: none;
}